.graph {
    height: 100%;
    display: flex;
    flex-direction: row;
    
    &__canvas {
        display: flex;
        flex-direction: column;
    }

    &__nodes {
        background: white;
        width: 100%;
        flex-grow: 1;
    }

    &__node {
        width: 50px;
        height: 50px;
        fill: white;
        border-radius: 100%;
        text-align: center;
        line-height: 50px;
        display: inline-block;
        stroke-width: 2px;
        stroke: black;
        color: black;

        &:hover {
            cursor: pointer;
        }
    }

    &__node-text {
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        cursor: default;
        font-size: 16px;

        &:hover {
            cursor: pointer;
        }
    }

    &__editline {
        width: 100%;
        padding: 5px 10px;
        color: white;
        background: #263947;
        font-size: 1rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        margin-top: 10px;
        outline: none;
    }

    &__edge {
        &:hover, &:active {
            cursor: pointer;
        }
    }

    &__edge-text {
        &:hover {
            cursor: pointer;
        }
    }

    &__edge-arrow {
        &:hover {
            cursor: pointer;
        }
    }
}

