.tools {
    $button-size: 40px;
    $highlighted-color: #263947;
    
    padding-top: 10px;

    &__button {
        display: block;
        background: transparent;
        border: none;
        color: darkgray;
        width: $button-size;
        height: $button-size;
        line-height: $button-size;
        text-align: center;
        font-size: $button-size / 2;
        outline: none;
        margin: 0 5px;

        &:not(:first-of-type) {
            margin-top: 5px;
        }

        &:hover {
            transition: 0.15s;
            color: $highlighted-color;
            cursor: pointer;
        }

        &--activated {
            transition: 0s!important;
            color: white;
            background: $highlighted-color;
            border-radius: 10%;

            &:hover {
                color: white;
            }
        }
    }
}