@import '../node_modules/normalize.css/normalize.css';

html, body {
    height: 100%;
}
body {
    background: #e7ebef;
}

#graph-app {
    height: 100%;
}

.graph {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    box-sizing: border-box;

    &__nodes {
        background: white;
        flex-grow: 1;
    }
}